body {
  background: #3498DB;
  height: 100vh;
}

body svg {
  width: 100vw;
  height: 100vh;
}

body svg .st1 {
  fill: #FFFFFF;
}

body svg .st2 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.3549;
  stroke-miterlimit: 10;
}

body svg #argentina #n,
body svg #argentina #a_3_,
body svg #argentina #t,
body svg #argentina .rect #n_1_,
body svg #argentina #r_1_,
body svg #argentina #a_4_,
body svg #argentina #a_5_,
body svg #argentina #g,
body svg #argentina #football_1_ {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

body svg #argentina #n,
body svg #argentina #a_3_ {
  -webkit-animation: move_n_a3 5s infinite ease-in-out;
  animation: move_n_a3 5s infinite ease-in-out;
}

body svg #argentina #t {
  transform-origin: 38% 46%;
  -webkit-animation: move_t 5s infinite ease-in-out;
  animation: move_t 5s infinite ease-in-out;
}

body svg #argentina .rect {
  -webkit-animation: move_rect 5s infinite ease-in-out;
  animation: move_rect 5s infinite ease-in-out;
}

body svg #argentina #n_1_ {
  -webkit-animation: move_n1 5s infinite ease-in-out;
  animation: move_n1 5s infinite ease-in-out;
}

body svg #argentina #r_1_,
body svg #argentina #a_4_ {
  -webkit-animation: move_r1a4 5s infinite ease-in-out;
  animation: move_r1a4 5s infinite ease-in-out;
}

body svg #argentina #a_5_ {
  transform-origin: 50% 50%;
  -webkit-animation: move_a5 5s infinite ease-in-out;
  animation: move_a5 5s infinite ease-in-out;
}

body svg #argentina #g {
  transform-origin: 50% 50%;
  -webkit-animation: move_g 5s infinite ease-in-out;
  animation: move_g 5s infinite ease-in-out;
}

body svg #argentina #football_1_ {
  transform-origin: 50% 50%;
  -webkit-animation: move_football 5s infinite ease;
  animation: move_football 5s infinite ease;
}

body footer {
  width: 75%;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 1;
}

body footer p {
  margin-bottom: 0;
}

body footer p .love {
  color: red;
}

@-webkit-keyframes move_t {
  45% {
    transform-origin: 45% 50.5%;
    transform: rotateZ(-180deg);
  }
  55% {
    transform-origin: 45% 50.5%;
    transform: rotateZ(-180deg);
  }
  90% {
    transform-origin: unset;
    transform: unset;
  }
}

@keyframes move_t {
  45% {
    transform-origin: 45% 50.5%;
    transform: rotateZ(-180deg);
  }
  55% {
    transform-origin: 45% 50.5%;
    transform: rotateZ(-180deg);
  }
  90% {
    transform-origin: unset;
    transform: unset;
  }
}

@-webkit-keyframes move_n1 {
  45% {
    transform: translateX(-19%);
  }
  55% {
    transform: translateX(-19%);
  }
  90% {
    transform: unset;
  }
}

@keyframes move_n1 {
  45% {
    transform: translateX(-19%);
  }
  55% {
    transform: translateX(-19%);
  }
  90% {
    transform: unset;
  }
}

@-webkit-keyframes move_r1a4 {
  45% {
    transform: translateX(4.5%);
  }
  55% {
    transform: translateX(4.5%);
  }
  90% {
    transform: unset;
  }
}

@keyframes move_r1a4 {
  45% {
    transform: translateX(4.5%);
  }
  55% {
    transform: translateX(4.5%);
  }
  90% {
    transform: unset;
  }
}

@-webkit-keyframes move_a5 {
  45% {
    transform-origin: 46.5% 50.5%;
    transform: rotateZ(-180deg);
  }
  55% {
    transform-origin: 46.5% 50.5%;
    transform: rotateZ(-180deg);
  }
  90% {
    transform-origin: unset;
    transform: unset;
  }
}

@keyframes move_a5 {
  45% {
    transform-origin: 46.5% 50.5%;
    transform: rotateZ(-180deg);
  }
  55% {
    transform-origin: 46.5% 50.5%;
    transform: rotateZ(-180deg);
  }
  90% {
    transform-origin: unset;
    transform: unset;
  }
}

@-webkit-keyframes move_g {
  45% {
    transform: rotate3d(0.75, 0, 0, 180deg) translateX(10%) translateY(-10px);
  }
  55% {
    transform: rotate3d(0.75, 0, 0, 180deg) translateX(10%) translateY(-10px);
  }
  90% {
    transform: unset;
  }
}

@keyframes move_g {
  45% {
    transform: rotate3d(0.75, 0, 0, 180deg) translateX(9%) translateY(-10px);
  }
  55% {
    transform: rotate3d(0.75, 0, 0, 180deg) translateX(9%) translateY(-10px);
  }
  90% {
    transform: unset;
  }
}

@-webkit-keyframes move_football {
  5% {
    transform: translateY(3%);
    transition-timing-function: ease-in;
  }
  20% {
    transform-origin: 58.9% 43%;
    transform: translateY(-15%) scale(1, 1);
    transition-timing-function: ease-out;
  }
  45% {
    transform-origin: 58.9% 43%;
    transform: scale(3.5, 3.5) translateY(0);
    transition-timing-function: ease-in;
  }
  50% {
    transform-origin: 58.9% 43%;
    transition-timing-function: ease;
    transform: scale(3.5, 3.5) translateY(-4%);
  }
  55% {
    transform-origin: 58.9% 43%;
    transition-timing-function: ease-out;
    transform: scale(3.5, 3.5) translateY(0);
  }
  80% {
    transform-origin: 58.9% 43%;
    transition-timing-function: ease-in;
    transform: translateY(-15%) scale(1, 1);
  }
  95% {
    transition-timing-function: ease-in;
    transform: translateY(5%);
  }
  100% {
    transform-origin: unset;
    transform: unset;
  }
}

@keyframes move_football {
  5% {
    transform: translateY(3%);
    transition-timing-function: ease-in;
  }
  20% {
    transform-origin: 58.9% 43%;
    transform: translateY(-15%) scale(1, 1);
    transition-timing-function: ease-out;
  }
  45% {
    transform-origin: 58.9% 43%;
    transform: scale(3.5, 3.5) translateY(0);
    transition-timing-function: ease-in;
  }
  50% {
    transform-origin: 58.9% 43%;
    transition-timing-function: ease;
    transform: scale(3.5, 3.5) translateY(-4%);
  }
  55% {
    transform-origin: 58.9% 43%;
    transition-timing-function: ease-out;
    transform: scale(3.5, 3.5) translateY(0);
  }
  80% {
    transform-origin: 58.9% 43%;
    transition-timing-function: ease-in;
    transform: translateY(-15%) scale(1, 1);
  }
  95% {
    transition-timing-function: ease-in;
    transform: translateY(5%);
  }
  100% {
    transform-origin: unset;
    transform: unset;
  }
}

@-webkit-keyframes move_n_a3 {
  45% {
    transform: translateX(1%);
  }
  55% {
    transform: translateX(1%);
  }
  90% {
    transform: unset;
  }
}

@keyframes move_n_a3 {
  45% {
    transform: translateX(1%);
  }
  55% {
    transform: translateX(1%);
  }
  90% {
    transform: unset;
  }
}

@-webkit-keyframes move_rect {
  15% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: unset;
  }
}

@keyframes move_rect {
  15% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: unset;
  }
}